  /*body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}

a {
    color: #00B7FF;
}
.panel {
    background: rgba(0,0,0,0.1);
}*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

html{
    margin:0;
    padding:0;
    border:0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
html,body,* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: normal;
}
audio,canvas,video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
iframe{
    width: 100%;
    z-index: -999;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button::-moz-focus-inner,input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
}
input, select {
    vertical-align: middle;
}
textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {
        background-color: #EBEBE4;
}
select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
    cursor: pointer;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display:block;
}
input[type=text]::-ms-clear,input[type=email]::-ms-clear,input[type=url]::-ms-clear,input[type=tel]::-ms-clear,input[type=number]::-ms-clear,input[type=time]::-ms-clear {
    display: none;
}
input[type=password]::-ms-reveal {
    display: none;
}
img {
    border : 0;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.ie7 img, .iem7 img {
-ms-interpolation-mode : bicubic;
}
* {
    border-collapse: collapse;
}
body{
    line-height:1.5;
    background:white;
}
table{
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td{
    text-align:left;
    font-weight:normal;
    float:none !important;
}
table, th, td{
    vertical-align:middle;
}
blockquote:before{
    content: '“'
}
blockquote:after{
    content: '”';
}
blockquote, q{
    quotes:"" "";
}
a img {
    border:none;
}
:focus {
    outline:0;
}
html {
    font-size:100%;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    min-height: 100vh;
    font-size:12pt !important;
    color:rgba(0,0,0,0.8);
    background:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: 0.00em;
    font-family: 'Open Sans';
    color: #000;
}
h1 {
    font-size: 42pt;
    line-height: 1.5;
}
h2 {
    font-size: 30pt;
    line-height: 1.5;
}
h3 {
    font-size: 24pt;
    line-height: 28pt;
}
h4 {
    font-size: 20pt;
    line-height: 1.5;
}
h5 {
    font-size: 16pt;
    line-height: 1.5;
}
h6 {
    font-size: 12pt;
    line-height: 1.5;
}
.bold {
    font-weight: 500;
}
p{
    margin: 5px 0 10px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    color: rgba(0,0,0,0.8);
    font-size: 11pt;
    line-height: 1.5;
    -webkit-hyphens : auto;
    -webkit-hyphenate-character : "\2010";
    -webkit-hyphenate-limit-after : 1;
    -webkit-hyphenate-limit-before : 3;
    -moz-hyphens : auto;
}
.margin0{
    margin: 0 !important;
}
p.legend{
    margin: 10px 0 15px;
    padding: 0 0 3px;
    font-weight: normal;
    font-style: normal;
    color: #404040;
    font-size: 18pt;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin:0;
}
.title{
    width: 100%;
    padding: 20px;
    overflow: auto;
}
.title > .heading{
    letter-spacing: 7px;
    margin-top: 20px;
}
body > header,
body > section,
body > footer {
    display: block;
    width: 100%;
    clear: both;
    float: left;
}
.underline{
    text-decoration: underline;
}
.flt-left {
    float:left !important;
}
.flt-right {
    float:right !important;
}
.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.txt-center{
    text-align: center;
}
.txt-justify{
    text-align: justify;
}
.full-span{
    width: 100%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

a{
    color: #1E8CBE !important;
    text-decoration:none;
}
a:visited {
    color:#06c;
    text-decoration:none;
}
a:focus, a:hover{
    color:#09f;
}
em, dfn {
    font-family: 'Open Sans Italic' !important;
    font-weight: normal;
    font-size: inherit;
}
sup, sub {
    line-height:0;
}
abbr, acronym {
    border-bottom:2px dotted #007acc;
    cursor: pointer;
}
address {
    margin:0 0 1.5em;
    font-family: 'Open Sans Italic';
}
del {
    color:#111;
}
pre {
    margin:10px;
    white-space:pre;
}
pre, code, tt {
    font-family: 'NotCourier', monospace;
    font-size: 11pt;
    line-height: 1.5;
}
ul, menu, dir {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
li ul, li ol {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ul li a {
    border: none;
    text-decoration: none;
    transition: all 0.05s ease-in-out;
}
ul {
    list-style-type:none;
}
ol {
    list-style-type:none;
}
dl {
    margin: 0;
}
dl dt {
    font-weight:normal;
}
dd {
    margin: 0;
}
/** Common classes*/
.hidden {
    display:none !important;
}
.visible{
    display: block;
}

/* forms.css */
fieldset {
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    border:1px solid #ccc;
}
legend {
    font-size:14pt;
    padding: 0 5px 0 5px;
}
fieldset, #IE8#HACK {
    padding-top:1.4em;
}
legend, #IE8#HACK {
    margin-top:0;
    margin-bottom:0;
}
/*input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="search"], input[type="date"], input.text, input.title, textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px 0;
    background-color:#fff;
    border:1px solid #ccc;
    color:#000;
    font-family: 'Open Sans';
    font-size: 11pt;
}*/
input[type="file"]{
    width: 100%;
    font-size: 10pt;
    margin: 5px 0 10px 0;
    padding: 5px 5px 5px 0;
}
/*input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input[type=date]:focus, input.text:focus, input.title:focus, textarea:focus {
    border-color:#999;
}*/
input:disabled, isindex:disabled, textarea:disabled {
    color: #545454;
}
select{
    width: 100%;
    margin-bottom: 5px;
    font-size: 11pt;
    padding: 3px;
    background-color:#fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-appearance: button;
    -moz-appearance: button;
}
input.text, input.title {
    width:300px;
    padding:5px;
}
textarea {
    width: 100%;
    padding:5px;
    margin-bottom: 5px;
    resize: vertical;
}
form.inline {
    line-height:3;
}
form.inline p {
    margin-bottom:0;
}

/* grid css */
hr {
    background:#ddd;
    color:#ddd;
    clear:both;
    float:none;
    width:100%;
    height:1px;
    margin:0 0 17px;
    border:none;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/** Bg/fg Colors */
.square10{
    width: 10px;
    height: 10px;
    display: inline-block;
}
ul.inline > li{
    width: 33%;
    margin-bottom: 5px;
    display: inline-block;
}
.bg-black {
  background-color: #000000 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-lime {
  background-color: #a4c400 !important;
}
.bg-green {
  background-color: #60a917 !important;
}
.bg-activeGreen{
  background-color: rgb(108, 195, 92) !important;
}
.bg-emerald {
  background-color: #008a00 !important;
}
.bg-teal {
  background-color: #00aba9 !important;
}
.bg-cyan {
  background-color: #1ba1e2 !important;
}
.bg-cobalt {
  background-color: #0050ef !important;
}
.bg-indigo {
  background-color: #6a00ff !important;
}
.bg-violet {
  background-color: #aa00ff !important;
}
.bg-pink {
  background-color: #dc4fad !important;
}
.bg-magenta {
  background-color: #d80073 !important;
}
.bg-crimson {
  background-color: #a20025 !important;
}
.bg-red {
  background-color: #e51400 !important;
}
.bg-orange {
  background-color: #fa6800 !important;
}
.bg-amber {
  background-color: #f0a30a !important;
}
.bg-yellow {
  background-color: #e3c800 !important;
}
.bg-brown {
  background-color: #825a2c !important;
}
.bg-olive {
  background-color: #6d8764 !important;
}
.bg-steel {
  background-color: #647687 !important;
}
.bg-mauve {
  background-color: #76608a !important;
}
.bg-taupe {
  background-color: #87794e !important;
}
.bg-gray {
  background-color: #555555 !important;
}
.bg-dark {
  background-color: #333333 !important;
}
.bg-darker {
  background-color: #222222 !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-darkBrown {
  background-color: #63362f !important;
}
.bg-darkCrimson {
  background-color: #640024 !important;
}
.bg-darkMagenta {
  background-color: #81003c !important;
}
.bg-darkIndigo {
  background-color: #4b0096 !important;
}
.bg-darkCyan {
  background-color: #1b6eae !important;
}
.bg-darkCobalt {
  background-color: #00356a !important;
}
.bg-darkTeal {
  background-color: #004050 !important;
}
.bg-darkEmerald {
  background-color: #003e00 !important;
}
.bg-darkGreen {
  background-color: #128023 !important;
}
.bg-darkOrange {
  background-color: #bf5a15 !important;
}
.bg-darkRed {
  background-color: #9a1616 !important;
}
.bg-darkPink {
    background-color: #9a165a !important;
}
.bg-darkViolet {
    background-color: #57169a !important;
}
.bg-darkBlue {
    background-color: #16499a !important;
}
.bg-lightBlue {
    background-color: #4390df !important;
}
.bg-lighterBlue {
    background-color: #00ccff !important;
}
.bg-lightTeal {
    background-color: #45fffd !important;
}
.bg-lightOlive {
    background-color: #78aa1c !important;
}
.bg-lightOrange {
    background-color: #c29008 !important;
}
.bg-lightPink {
    background-color: #f472d0 !important;
}
.bg-grayDark {
    background-color: #333333 !important;
}
.bg-grayDarker {
    background-color: #222222 !important;
}
.bg-grayLight {
    background-color: #999999 !important;
}
.bg-grayLighter {
    background-color: #eeeeee !important;
}
.bg-lightRed {
    background-color: #FF2D19 !important;
}
.bg-lightGreen {
    background-color: #7AD61D !important;
}
.bg-globalColor{
    background-color: #1E8CBE !important;
}
.fg-globalColor{
    color: #1E8CBE !important;
}
.fg-black {
    color: #000000 !important;
}
.fg-white {
    color: #ffffff !important;
}
.fg-lime {
    color: #a4c400 !important;
}
.fg-green {
    color: #60a917 !important;
}
.fg-emerald {
    color: #008a00 !important;
}
.fg-teal {
    color: #00aba9 !important;
}
.fg-cyan {
  color: #1ba1e2 !important;
}
.fg-cobalt {
  color: #0050ef !important;
}
.fg-indigo {
  color: #6a00ff !important;
}
.fg-violet {
  color: #aa00ff !important;
}
.fg-pink {
  color: #dc4fad !important;
}
.fg-magenta {
  color: #d80073 !important;
}
.fg-crimson {
  color: #a20025 !important;
}
.fg-red {
  color: #e51400 !important;
}
.fg-orange {
  color: #fa6800 !important;
}
.fg-amber {
  color: #f0a30a !important;
}
.fg-yellow {
  color: #e3c800 !important;
}
.fg-brown {
  color: #825a2c !important;
}
.fg-olive {
  color: #6d8764 !important;
}
.fg-steel {
  color: #647687 !important;
}
.fg-mauve {
  color: #76608a !important;
}
.fg-taupe {
  color: #87794e !important;
}
.fg-gray {
  color: #555555 !important;
}
.fg-dark {
  color: #333333 !important;
}
.fg-darker {
  color: #222222 !important;
}
.fg-transparent {
  color: transparent !important;
}
.fg-darkBrown {
  color: #63362f !important;
}
.fg-darkCrimson {
  color: #640024 !important;
}
.fg-darkMagenta {
  color: #81003c !important;
}
.fg-darkIndigo {
  color: #4b0096 !important;
}
.fg-darkCyan {
  color: #1b6eae !important;
}
.fg-darkCobalt {
  color: #00356a !important;
}
.fg-darkTeal {
  color: #004050 !important;
}
.fg-darkEmerald {
  color: #003e00 !important;
}
.fg-darkGreen {
  color: #128023 !important;
}
.fg-darkOrange {
  color: #bf5a15 !important;
}
.fg-darkRed {
  color: #9a1616 !important;
}
.fg-darkPink {
  color: #9a165a !important;
}
.fg-darkViolet {
  color: #57169a !important;
}
.fg-darkBlue {
  color: #16499a !important;
}
.fg-lightBlue {
  color: #4390df !important;
}
.fg-lighterBlue {
  color: #00ccff !important;
}
.fg-lightTeal {
  color: #45fffd !important;
}
.fg-lightOlive {
  color: #78aa1c !important;
}
.fg-lightOrange {
  color: #c29008 !important;
}
.fg-lightPink {
  color: #f472d0 !important;
}
.fg-grayDark {
  color: #333333 !important;
}
.fg-grayDarker {
  color: #222222 !important;
}
.fg-grayLight {
  color: #999999 !important;
}
.fg-grayLighter {
  color: #eeeeee !important;
}
.fg-lightRed {
    color: #FF2D19 !important;
}
.fg-lightGreen {
    color: #7AD61D !important;
}
.fg-activeGreen{
    color: rgb(108, 195, 92) !important;
}
.global-color-black{
    background-color: #242424 !important;
}
.global-color-carbon{
    background-color: #292929 !important;
}
.global-color-blue{
    background-color: #48a5f3 !important;
}
.btn-general{
    transition: all 0.3s ease;
    width: 100%;
    padding: 7px;
    border: 1px solid transparent;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: 300;
}
.btn-general:hover{
    color: #fff !important;
}
.btn-general:active{
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5)!important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}
.txt-general{
    color: #888;
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px 0;
    background: transparent;
    border: 1px solid;
    border-color: transparent transparent #ccc transparent;
    color:#000;
    font-family: 'Open Sans';
    font-size: 12pt;
    -webkit-border-radius:0px;
}
.pointer{
    cursor: pointer !important;
}
.vc{
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}

.banner {
    padding: 20px;
    color: #fff;
    text-align: center;
    height: 130px;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.9);
    vertical-align: middle;
    position: relative;
}
.banner > h3{
    color: #fff;
}
.panel {
    padding: 15px 20px;
    margin: 80px auto 0 auto;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    display: block;
}
.login-pane{
    padding: 5px 30px;
}
.txt-general:focus::-webkit-input-placeholder{
    color: #555;
}
.fp{
    line-height: 43px;
    text-align: center;
    display: block;
}
.msglist > ul > li{
    padding: 5px 7px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.roomlist span{
    display: block;
}

.chatpanel{
    margin: 70px auto;
    background: #fff;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    display: block;
    word-wrap: break-word;
    height: 78vh;
}
.chatheadpane {
    box-shadow: 1px 0px 3px rgba(0,0,0,0.2);
    width: 100%;
    padding: 5px 15px;
}
.chatheadpane > p {
    font-size: 17px;
}
.gsearch {
    padding: 12.2px !important;
    margin: 0 !important;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.gsearch:focus{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.userslist > ul > li{
    padding: 8px 14px;
    border-bottom: 1px solid rgba(235,235,235,0.9);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
}
.userslist > ul > li:hover{
    background: rgba(235,235,235,0.9);
    color: inherit;
}
.avatar {
    border-radius: 50%;
    border: 1px solid #eae9ed;
    padding: 5px;
    height: 50px;
    width: 50px;
    line-height: 1.8;
    display: block;
    text-align: center;
}
.avatar > span{
    font-size: 20px;
}
.chatheadpane {
    min-height: 50px;
}
.conv > div > ul > li {
    padding: 10px;
    border-bottom: 1px solid rgba(235,235,235,0.4);
}
.highlight-bg{
    background: #ffffcc;
}
/*mobile portrait */
@media only screen and (min-width : 0px) and (max-width : 480px) {
    .banner{height: 80px;}
    .banner > h3 {font-size: 150%;}
    .login-pane{padding: 5px 0;}
    .vc{ transform: translateY(0%);}
    .gglAuth{ margin-top: 10px;}
}
/*mobile landscape */
@media only screen and (min-width : 480px) and (max-width : 595px) {
    .banner{height: 80px;}
    .banner > h3 {font-size: 150%;}
    .login-pane{padding: 5px 0;}
    .vc{ transform: translateY(0%);}
    .gglAuth{ margin-top: 10px;}
}
/*tab portrait */
@media only screen and (min-width : 640px) and (max-width : 800px) {
    .gglAuth{ margin-top: 10px;}
}
/*tab landscape */
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    .gglAuth{ margin-top: 10px;}
}
